.dashboard {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &__wrap {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .navigation,
  &__main {
    height: 100%;
  }

  &__main {
    flex: 0 0 80%;
    overflow-y: scroll;
  }

  .content {
    padding: 2rem 3rem;
    overflow-x: hidden;
    margin-top: 6.2rem;
  }

  .navigation {
    flex: 0 0 20%;
    background: #232638;
    color: #1a1a1a;

    &__header {
      padding: 2rem;
      background: #253245;
      color: #ccc;
      border-bottom: 2px solid #253245;
    }

    &__link {
      display: inline-block;
      width: 100%;
      padding: 1.7rem 2rem;
      color: #dfdfdf;
      text-decoration: none;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        height: 3rem;
      }

      &:hover,
      &.active {
        background: radial-gradient(
          ellipse at bottom,
          #0d1d31 0%,
          #0c0d13 100%
        );
        color: #dfdfdf;
      }
    }
  }

  .navbar {
    padding: 3.1rem 2rem;
    background: #253245;
    color: #ccc;
    position: fixed;
    right: 0;
    width: 80%;
  }
}

.network {
  margin: 3rem auto;

  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @media (max-width: 870px) {
      grid-template-columns: 1fr;
    }
  }

  &__header {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header,
    .link {
      display: inline-block;
    }

    .link {
      text-decoration: underline;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }

  &__item {
    padding: 2rem;
    background: rgba(110, 111, 115, 0.35);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);

    &--disable {
      background: #aaaaaa;
      border: none;
      color: #1a1a1a;
    }

    &--sysInfo {
      background: #701e1266;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border: 1px solid #701e1240;
    }

    &--mem {
      background: rgba(122, 36, 65, 0.5);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(122, 36, 65, 0.25);
    }

    &--available {
      background: rgba(40, 77, 98, 0.5);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(40, 77, 98, 0.25);
    }
  }
}

table,
th,
td {
  border: 1px solid #6e77838e;
}

td,
th {
  padding: 0.7rem 2rem;
  text-align: left;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  overflow-x: scroll;
  width: 100%;
}

.devices {
  margin: 1.5rem 0 4rem;
}

.breadcrumb {
  padding: 0 0 2rem;

  &__title {
    margin-bottom: 0.7rem;
  }

  &__nav {
    font-size: 1.3rem;
    color: #ccc;
  }
}

.feature {
  margin: 0 0 4rem;

  &__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  &__item {
    padding: 3rem;
    cursor: pointer;
    color: #e6e6e6;
    font-weight: 600;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid #6e77838e;
    transition: all 0.35s ease-in-out;

    &--device {
      background: #284978;

      &:hover {
        background: #1c3354;
      }
    }

    &--systemInfo {
      background: #8c2517;

      &:hover {
        background: #701e12;
      }
    }

    &--settings {
      background: #982d51;

      &:hover {
        background: #7a2441;
      }
    }

    &--profile {
      background: #32607a;

      &:hover {
        background: #284d62;
      }
    }
  }

  .img__wrap {
    height: 5rem;

    img {
      height: 100%;
      object-fit: contain;
    }
  }
}
