.card {
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 3rem 5rem;
  box-shadow: 0 0 1rem #202020;
  //   border-radius: 0.8rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 30rem;
}

.form {
  &__header {
    text-align: center;

    h3 {
      color: #0d1d31;
    }
  }

  &__body {
    margin-top: 2rem;
  }

  &__group {
    label,
    input {
      display: block;
    }

    label {
      font-weight: 600;
      font-size: 1.2rem;
      margin-bottom: 0.7rem;
      transition: all 0.4s;

      &:focus {
        color: #0b50a3;
      }
    }

    input {
      outline: none;
      border: 0.1rem solid #ccc;
      padding: 0.6rem 1rem;
      width: 100%;
      margin-bottom: 2rem;
      transition: all 0.4s;

      &:focus {
        border: 0.1rem solid #0b50a3;
      }
    }
  }
}
