@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0); } }

@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1; }
  70%,
  80% {
    width: 0;
    opacity: 0.4; }
  100% {
    width: 0;
    opacity: 0; } }

@keyframes blink {
  50% {
    opacity: 0.6; } }

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  box-sizing: border-box; }
  body.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden; }

.btn {
  display: inline-block;
  padding: 1rem 0.7rem;
  text-decoration: none;
  color: currentColor;
  border: none;
  outline: none;
  cursor: pointer; }
  .btn__primary {
    background: #0b50a3;
    color: #fff; }
  .btn--block {
    display: block;
    text-align: center;
    width: 100%; }

.card {
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 3rem 5rem;
  box-shadow: 0 0 1rem #202020;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 30rem; }

.form__header {
  text-align: center; }
  .form__header h3 {
    color: #0d1d31; }

.form__body {
  margin-top: 2rem; }

.form__group label,
.form__group input {
  display: block; }

.form__group label {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
  transition: all 0.4s; }
  .form__group label:focus {
    color: #0b50a3; }

.form__group input {
  outline: none;
  border: 0.1rem solid #ccc;
  padding: 0.6rem 1rem;
  width: 100%;
  margin-bottom: 2rem;
  transition: all 0.4s; }
  .form__group input:focus {
    border: 0.1rem solid #0b50a3; }

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  color: #fff; }

.star {
  --star-color: #fff;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
  .star:nth-child(1) {
    --star-tail-length: 7.13em;
    --top-offset: 51.64vh;
    --fall-duration: 8.187s;
    --fall-delay: 3.032s; }
  .star:nth-child(2) {
    --star-tail-length: 6.75em;
    --top-offset: 64.72vh;
    --fall-duration: 7.699s;
    --fall-delay: 0.102s; }
  .star:nth-child(3) {
    --star-tail-length: 6.88em;
    --top-offset: 13.11vh;
    --fall-duration: 8.549s;
    --fall-delay: 9.94s; }
  .star:nth-child(4) {
    --star-tail-length: 6.94em;
    --top-offset: 64.32vh;
    --fall-duration: 11.642s;
    --fall-delay: 3.205s; }
  .star:nth-child(5) {
    --star-tail-length: 6.43em;
    --top-offset: 90.18vh;
    --fall-duration: 9.824s;
    --fall-delay: 1.197s; }
  .star:nth-child(6) {
    --star-tail-length: 6.06em;
    --top-offset: 2.07vh;
    --fall-duration: 11.324s;
    --fall-delay: 8.732s; }
  .star:nth-child(7) {
    --star-tail-length: 5.33em;
    --top-offset: 52.11vh;
    --fall-duration: 8.71s;
    --fall-delay: 6.387s; }
  .star:nth-child(8) {
    --star-tail-length: 5.95em;
    --top-offset: 67.09vh;
    --fall-duration: 8.212s;
    --fall-delay: 8.078s; }
  .star:nth-child(9) {
    --star-tail-length: 5.58em;
    --top-offset: 5.29vh;
    --fall-duration: 10.9s;
    --fall-delay: 3.228s; }
  .star:nth-child(10) {
    --star-tail-length: 5.83em;
    --top-offset: 43.19vh;
    --fall-duration: 8.214s;
    --fall-delay: 0.009s; }
  .star:nth-child(11) {
    --star-tail-length: 7em;
    --top-offset: 38.05vh;
    --fall-duration: 11.535s;
    --fall-delay: 3.472s; }
  .star:nth-child(12) {
    --star-tail-length: 6.37em;
    --top-offset: 66.56vh;
    --fall-duration: 11.322s;
    --fall-delay: 5.689s; }
  .star:nth-child(13) {
    --star-tail-length: 5.76em;
    --top-offset: 60.5vh;
    --fall-duration: 8.858s;
    --fall-delay: 4.645s; }
  .star:nth-child(14) {
    --star-tail-length: 7.17em;
    --top-offset: 16.6vh;
    --fall-duration: 10.577s;
    --fall-delay: 2.672s; }
  .star:nth-child(15) {
    --star-tail-length: 6.91em;
    --top-offset: 60.64vh;
    --fall-duration: 9.503s;
    --fall-delay: 1.643s; }
  .star:nth-child(16) {
    --star-tail-length: 6.98em;
    --top-offset: 91.93vh;
    --fall-duration: 9.562s;
    --fall-delay: 3.949s; }
  .star:nth-child(17) {
    --star-tail-length: 7.06em;
    --top-offset: 0.83vh;
    --fall-duration: 8.473s;
    --fall-delay: 0.99s; }
  .star:nth-child(18) {
    --star-tail-length: 5.48em;
    --top-offset: 18.17vh;
    --fall-duration: 7.79s;
    --fall-delay: 1.801s; }
  .star:nth-child(19) {
    --star-tail-length: 5.99em;
    --top-offset: 66.31vh;
    --fall-duration: 8.576s;
    --fall-delay: 3.135s; }
  .star:nth-child(20) {
    --star-tail-length: 5.61em;
    --top-offset: 2.78vh;
    --fall-duration: 8.481s;
    --fall-delay: 1.493s; }
  .star:nth-child(21) {
    --star-tail-length: 5.52em;
    --top-offset: 17.03vh;
    --fall-duration: 8.703s;
    --fall-delay: 2.76s; }
  .star:nth-child(22) {
    --star-tail-length: 5.84em;
    --top-offset: 49.11vh;
    --fall-duration: 8.352s;
    --fall-delay: 9.875s; }
  .star:nth-child(23) {
    --star-tail-length: 7.47em;
    --top-offset: 28.07vh;
    --fall-duration: 6.339s;
    --fall-delay: 6.653s; }
  .star:nth-child(24) {
    --star-tail-length: 6.09em;
    --top-offset: 94.13vh;
    --fall-duration: 7.787s;
    --fall-delay: 1.126s; }
  .star:nth-child(25) {
    --star-tail-length: 5.15em;
    --top-offset: 34.09vh;
    --fall-duration: 10.639s;
    --fall-delay: 7.613s; }
  .star:nth-child(26) {
    --star-tail-length: 6.26em;
    --top-offset: 32.59vh;
    --fall-duration: 11.017s;
    --fall-delay: 5.098s; }
  .star:nth-child(27) {
    --star-tail-length: 7.16em;
    --top-offset: 46.84vh;
    --fall-duration: 11.699s;
    --fall-delay: 5.336s; }
  .star:nth-child(28) {
    --star-tail-length: 6.84em;
    --top-offset: 97.66vh;
    --fall-duration: 10.977s;
    --fall-delay: 5.172s; }
  .star:nth-child(29) {
    --star-tail-length: 6.3em;
    --top-offset: 14.29vh;
    --fall-duration: 6.478s;
    --fall-delay: 7.877s; }
  .star:nth-child(30) {
    --star-tail-length: 6.94em;
    --top-offset: 94.13vh;
    --fall-duration: 10.668s;
    --fall-delay: 6.848s; }
  .star:nth-child(31) {
    --star-tail-length: 7.11em;
    --top-offset: 93.28vh;
    --fall-duration: 10.429s;
    --fall-delay: 5.097s; }
  .star:nth-child(32) {
    --star-tail-length: 5.53em;
    --top-offset: 85.74vh;
    --fall-duration: 7.647s;
    --fall-delay: 6.013s; }
  .star:nth-child(33) {
    --star-tail-length: 5.32em;
    --top-offset: 34.56vh;
    --fall-duration: 11.898s;
    --fall-delay: 3.789s; }
  .star:nth-child(34) {
    --star-tail-length: 5.16em;
    --top-offset: 95.67vh;
    --fall-duration: 10.871s;
    --fall-delay: 1.025s; }
  .star:nth-child(35) {
    --star-tail-length: 5.49em;
    --top-offset: 30.58vh;
    --fall-duration: 11.164s;
    --fall-delay: 6.851s; }
  .star:nth-child(36) {
    --star-tail-length: 6.46em;
    --top-offset: 88.12vh;
    --fall-duration: 9.015s;
    --fall-delay: 2.124s; }
  .star:nth-child(37) {
    --star-tail-length: 6.05em;
    --top-offset: 59.66vh;
    --fall-duration: 11.756s;
    --fall-delay: 9.87s; }
  .star:nth-child(38) {
    --star-tail-length: 7.2em;
    --top-offset: 9.14vh;
    --fall-duration: 10.383s;
    --fall-delay: 7.508s; }
  .star:nth-child(39) {
    --star-tail-length: 5em;
    --top-offset: 69.1vh;
    --fall-duration: 8.51s;
    --fall-delay: 0.75s; }
  .star:nth-child(40) {
    --star-tail-length: 6.58em;
    --top-offset: 94.91vh;
    --fall-duration: 8.139s;
    --fall-delay: 0.268s; }
  .star:nth-child(41) {
    --star-tail-length: 6.45em;
    --top-offset: 29.93vh;
    --fall-duration: 11.9s;
    --fall-delay: 9.141s; }
  .star:nth-child(42) {
    --star-tail-length: 6.99em;
    --top-offset: 31.81vh;
    --fall-duration: 10.1s;
    --fall-delay: 9.389s; }
  .star:nth-child(43) {
    --star-tail-length: 6.47em;
    --top-offset: 44.06vh;
    --fall-duration: 11.215s;
    --fall-delay: 0.914s; }
  .star:nth-child(44) {
    --star-tail-length: 5.11em;
    --top-offset: 77.43vh;
    --fall-duration: 6.992s;
    --fall-delay: 0.722s; }
  .star:nth-child(45) {
    --star-tail-length: 7.33em;
    --top-offset: 54.23vh;
    --fall-duration: 6.59s;
    --fall-delay: 5.715s; }
  .star:nth-child(46) {
    --star-tail-length: 7.12em;
    --top-offset: 42.76vh;
    --fall-duration: 7.397s;
    --fall-delay: 5.335s; }
  .star:nth-child(47) {
    --star-tail-length: 6.56em;
    --top-offset: 53.13vh;
    --fall-duration: 7.893s;
    --fall-delay: 3.595s; }
  .star:nth-child(48) {
    --star-tail-length: 6.32em;
    --top-offset: 44.49vh;
    --fall-duration: 11.175s;
    --fall-delay: 1.033s; }
  .star:nth-child(49) {
    --star-tail-length: 7.48em;
    --top-offset: 11.64vh;
    --fall-duration: 10.057s;
    --fall-delay: 6.979s; }
  .star:nth-child(50) {
    --star-tail-length: 6.85em;
    --top-offset: 95.78vh;
    --fall-duration: 10.212s;
    --fall-delay: 5.889s; }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite; }
  .star::before {
    transform: rotate(45deg); }
  .star::after {
    transform: rotate(-45deg); }

/*# sourceMappingURL=styles.css.map */