@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0); } }

@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1; }
  70%,
  80% {
    width: 0;
    opacity: 0.4; }
  100% {
    width: 0;
    opacity: 0; } }

@keyframes blink {
  50% {
    opacity: 0.6; } }

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden; }

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg); }

.star {
  --star-color: #fff;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
  .star:nth-child(1) {
    --star-tail-length: 6.57em;
    --top-offset: 42.61vh;
    --fall-duration: 11.895s;
    --fall-delay: 3.973s; }
  .star:nth-child(2) {
    --star-tail-length: 5.21em;
    --top-offset: 73.35vh;
    --fall-duration: 8.671s;
    --fall-delay: 3.367s; }
  .star:nth-child(3) {
    --star-tail-length: 7.11em;
    --top-offset: 3.42vh;
    --fall-duration: 9.83s;
    --fall-delay: 5.016s; }
  .star:nth-child(4) {
    --star-tail-length: 5.49em;
    --top-offset: 95.45vh;
    --fall-duration: 10.032s;
    --fall-delay: 9.767s; }
  .star:nth-child(5) {
    --star-tail-length: 5.19em;
    --top-offset: 16.53vh;
    --fall-duration: 6.557s;
    --fall-delay: 1.743s; }
  .star:nth-child(6) {
    --star-tail-length: 6.02em;
    --top-offset: 37.85vh;
    --fall-duration: 10.253s;
    --fall-delay: 5.48s; }
  .star:nth-child(7) {
    --star-tail-length: 7.15em;
    --top-offset: 22.97vh;
    --fall-duration: 7.412s;
    --fall-delay: 9.756s; }
  .star:nth-child(8) {
    --star-tail-length: 5.01em;
    --top-offset: 6vh;
    --fall-duration: 8.226s;
    --fall-delay: 9.699s; }
  .star:nth-child(9) {
    --star-tail-length: 6.43em;
    --top-offset: 48.25vh;
    --fall-duration: 8.543s;
    --fall-delay: 7.12s; }
  .star:nth-child(10) {
    --star-tail-length: 5.56em;
    --top-offset: 89.89vh;
    --fall-duration: 6.384s;
    --fall-delay: 5.378s; }
  .star:nth-child(11) {
    --star-tail-length: 5.98em;
    --top-offset: 92.3vh;
    --fall-duration: 6.24s;
    --fall-delay: 8.144s; }
  .star:nth-child(12) {
    --star-tail-length: 5.67em;
    --top-offset: 35.16vh;
    --fall-duration: 11.34s;
    --fall-delay: 9.141s; }
  .star:nth-child(13) {
    --star-tail-length: 5.57em;
    --top-offset: 28.1vh;
    --fall-duration: 8.181s;
    --fall-delay: 3.487s; }
  .star:nth-child(14) {
    --star-tail-length: 5.23em;
    --top-offset: 79.82vh;
    --fall-duration: 9.673s;
    --fall-delay: 4.128s; }
  .star:nth-child(15) {
    --star-tail-length: 6.33em;
    --top-offset: 34.92vh;
    --fall-duration: 6.643s;
    --fall-delay: 9.851s; }
  .star:nth-child(16) {
    --star-tail-length: 5.7em;
    --top-offset: 54.56vh;
    --fall-duration: 7.781s;
    --fall-delay: 8.887s; }
  .star:nth-child(17) {
    --star-tail-length: 5.47em;
    --top-offset: 86.46vh;
    --fall-duration: 6.443s;
    --fall-delay: 9.125s; }
  .star:nth-child(18) {
    --star-tail-length: 5.1em;
    --top-offset: 72.5vh;
    --fall-duration: 7.632s;
    --fall-delay: 3.511s; }
  .star:nth-child(19) {
    --star-tail-length: 5.6em;
    --top-offset: 8.8vh;
    --fall-duration: 8.75s;
    --fall-delay: 3.158s; }
  .star:nth-child(20) {
    --star-tail-length: 7.33em;
    --top-offset: 74.44vh;
    --fall-duration: 8.599s;
    --fall-delay: 2.853s; }
  .star:nth-child(21) {
    --star-tail-length: 6.04em;
    --top-offset: 36.44vh;
    --fall-duration: 10.699s;
    --fall-delay: 2.685s; }
  .star:nth-child(22) {
    --star-tail-length: 6.87em;
    --top-offset: 62.94vh;
    --fall-duration: 8.216s;
    --fall-delay: 7.237s; }
  .star:nth-child(23) {
    --star-tail-length: 6.9em;
    --top-offset: 25.35vh;
    --fall-duration: 11.381s;
    --fall-delay: 5.277s; }
  .star:nth-child(24) {
    --star-tail-length: 6.73em;
    --top-offset: 50.7vh;
    --fall-duration: 6.691s;
    --fall-delay: 2.203s; }
  .star:nth-child(25) {
    --star-tail-length: 5.26em;
    --top-offset: 34.36vh;
    --fall-duration: 9.128s;
    --fall-delay: 7.869s; }
  .star:nth-child(26) {
    --star-tail-length: 7.37em;
    --top-offset: 81.93vh;
    --fall-duration: 6.553s;
    --fall-delay: 2.63s; }
  .star:nth-child(27) {
    --star-tail-length: 5.25em;
    --top-offset: 70.67vh;
    --fall-duration: 9.242s;
    --fall-delay: 7.847s; }
  .star:nth-child(28) {
    --star-tail-length: 5.46em;
    --top-offset: 3.73vh;
    --fall-duration: 7.755s;
    --fall-delay: 7.146s; }
  .star:nth-child(29) {
    --star-tail-length: 5.23em;
    --top-offset: 91.91vh;
    --fall-duration: 10.241s;
    --fall-delay: 1.517s; }
  .star:nth-child(30) {
    --star-tail-length: 6.76em;
    --top-offset: 37.4vh;
    --fall-duration: 10.516s;
    --fall-delay: 0.226s; }
  .star:nth-child(31) {
    --star-tail-length: 6.53em;
    --top-offset: 44.2vh;
    --fall-duration: 8.248s;
    --fall-delay: 8.689s; }
  .star:nth-child(32) {
    --star-tail-length: 7.39em;
    --top-offset: 50.74vh;
    --fall-duration: 11.959s;
    --fall-delay: 2.822s; }
  .star:nth-child(33) {
    --star-tail-length: 5.34em;
    --top-offset: 61.28vh;
    --fall-duration: 6.798s;
    --fall-delay: 3.349s; }
  .star:nth-child(34) {
    --star-tail-length: 6.69em;
    --top-offset: 2.13vh;
    --fall-duration: 11.411s;
    --fall-delay: 6.212s; }
  .star:nth-child(35) {
    --star-tail-length: 5.79em;
    --top-offset: 32.69vh;
    --fall-duration: 9.761s;
    --fall-delay: 5.794s; }
  .star:nth-child(36) {
    --star-tail-length: 7.1em;
    --top-offset: 18.27vh;
    --fall-duration: 6.304s;
    --fall-delay: 7.096s; }
  .star:nth-child(37) {
    --star-tail-length: 7.4em;
    --top-offset: 95.43vh;
    --fall-duration: 10.187s;
    --fall-delay: 6.234s; }
  .star:nth-child(38) {
    --star-tail-length: 6.97em;
    --top-offset: 13.61vh;
    --fall-duration: 10.612s;
    --fall-delay: 6.164s; }
  .star:nth-child(39) {
    --star-tail-length: 5.11em;
    --top-offset: 35.45vh;
    --fall-duration: 6.381s;
    --fall-delay: 8.739s; }
  .star:nth-child(40) {
    --star-tail-length: 6.68em;
    --top-offset: 31.47vh;
    --fall-duration: 10.033s;
    --fall-delay: 0.77s; }
  .star:nth-child(41) {
    --star-tail-length: 7.15em;
    --top-offset: 37.08vh;
    --fall-duration: 6.242s;
    --fall-delay: 6.276s; }
  .star:nth-child(42) {
    --star-tail-length: 6.52em;
    --top-offset: 73.23vh;
    --fall-duration: 7.23s;
    --fall-delay: 3.277s; }
  .star:nth-child(43) {
    --star-tail-length: 6.04em;
    --top-offset: 37.85vh;
    --fall-duration: 6.476s;
    --fall-delay: 2.584s; }
  .star:nth-child(44) {
    --star-tail-length: 6.33em;
    --top-offset: 67.84vh;
    --fall-duration: 11.24s;
    --fall-delay: 2.249s; }
  .star:nth-child(45) {
    --star-tail-length: 6.94em;
    --top-offset: 25.95vh;
    --fall-duration: 7.797s;
    --fall-delay: 5.005s; }
  .star:nth-child(46) {
    --star-tail-length: 7.32em;
    --top-offset: 20.44vh;
    --fall-duration: 9.075s;
    --fall-delay: 5.665s; }
  .star:nth-child(47) {
    --star-tail-length: 6.99em;
    --top-offset: 67.36vh;
    --fall-duration: 7.176s;
    --fall-delay: 2.461s; }
  .star:nth-child(48) {
    --star-tail-length: 7.19em;
    --top-offset: 79.63vh;
    --fall-duration: 9.74s;
    --fall-delay: 7.693s; }
  .star:nth-child(49) {
    --star-tail-length: 7.02em;
    --top-offset: 32.34vh;
    --fall-duration: 8.911s;
    --fall-delay: 2.944s; }
  .star:nth-child(50) {
    --star-tail-length: 7.24em;
    --top-offset: 22.03vh;
    --fall-duration: 6.941s;
    --fall-delay: 5.495s; }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite; }
  .star::before {
    transform: rotate(45deg); }
  .star::after {
    transform: rotate(-45deg); }

/*# sourceMappingURL=styles.css.map */