@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0); } }

@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1; }
  70%,
  80% {
    width: 0;
    opacity: 0.4; }
  100% {
    width: 0;
    opacity: 0; } }

@keyframes blink {
  50% {
    opacity: 0.6; } }

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  color: #fff; }
  body.body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }

.btn {
  display: inline-block;
  padding: 1rem 0.7rem;
  text-decoration: none;
  color: currentColor;
  border: none;
  outline: none;
  cursor: pointer; }
  .btn__primary {
    background: #0b50a3;
    color: #fff; }
  .btn--block {
    display: block;
    text-align: center;
    width: 100%; }

.card {
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 3rem 5rem;
  box-shadow: 0 0 1rem #202020;
  border-radius: 1rem;
  width: 30rem; }

.form__header {
  text-align: center; }
  .form__header h3 {
    color: #0d1d31; }

.form__body {
  margin-top: 2rem; }

.form__group label,
.form__group input {
  display: block; }

.form__group label {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
  transition: all 0.4s; }
  .form__group label:focus {
    color: #0b50a3; }

.form__group input {
  outline: none;
  border: 0.1rem solid #ccc;
  padding: 0.6rem 1rem;
  width: 100%;
  margin-bottom: 2rem;
  transition: all 0.4s; }
  .form__group input:focus {
    border: 0.1rem solid #0b50a3; }

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  color: #fff; }

.star {
  --star-color: #fff;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
  .star:nth-child(1) {
    --star-tail-length: 5.33em;
    --top-offset: 63.41vh;
    --fall-duration: 7.646s;
    --fall-delay: 4.445s; }
  .star:nth-child(2) {
    --star-tail-length: 5.07em;
    --top-offset: 33.11vh;
    --fall-duration: 7.895s;
    --fall-delay: 5.993s; }
  .star:nth-child(3) {
    --star-tail-length: 7.03em;
    --top-offset: 29.93vh;
    --fall-duration: 8.614s;
    --fall-delay: 4.684s; }
  .star:nth-child(4) {
    --star-tail-length: 7.35em;
    --top-offset: 51.24vh;
    --fall-duration: 7.387s;
    --fall-delay: 4.459s; }
  .star:nth-child(5) {
    --star-tail-length: 6.26em;
    --top-offset: 86.1vh;
    --fall-duration: 7.671s;
    --fall-delay: 6.149s; }
  .star:nth-child(6) {
    --star-tail-length: 5.3em;
    --top-offset: 8.36vh;
    --fall-duration: 6.84s;
    --fall-delay: 3.891s; }
  .star:nth-child(7) {
    --star-tail-length: 5.67em;
    --top-offset: 73.25vh;
    --fall-duration: 8.357s;
    --fall-delay: 5.713s; }
  .star:nth-child(8) {
    --star-tail-length: 7.35em;
    --top-offset: 59.08vh;
    --fall-duration: 11.203s;
    --fall-delay: 4.928s; }
  .star:nth-child(9) {
    --star-tail-length: 6.39em;
    --top-offset: 9.92vh;
    --fall-duration: 9.136s;
    --fall-delay: 8.403s; }
  .star:nth-child(10) {
    --star-tail-length: 6.88em;
    --top-offset: 75.53vh;
    --fall-duration: 6.143s;
    --fall-delay: 9.197s; }
  .star:nth-child(11) {
    --star-tail-length: 7.41em;
    --top-offset: 89.66vh;
    --fall-duration: 6.763s;
    --fall-delay: 8.028s; }
  .star:nth-child(12) {
    --star-tail-length: 6.88em;
    --top-offset: 14.29vh;
    --fall-duration: 11.055s;
    --fall-delay: 8.515s; }
  .star:nth-child(13) {
    --star-tail-length: 6.84em;
    --top-offset: 50.78vh;
    --fall-duration: 6.485s;
    --fall-delay: 9.824s; }
  .star:nth-child(14) {
    --star-tail-length: 7.18em;
    --top-offset: 37.77vh;
    --fall-duration: 7.995s;
    --fall-delay: 5.094s; }
  .star:nth-child(15) {
    --star-tail-length: 5.07em;
    --top-offset: 43.11vh;
    --fall-duration: 9.206s;
    --fall-delay: 9.196s; }
  .star:nth-child(16) {
    --star-tail-length: 5.65em;
    --top-offset: 73.79vh;
    --fall-duration: 8.474s;
    --fall-delay: 3.656s; }
  .star:nth-child(17) {
    --star-tail-length: 6.6em;
    --top-offset: 53.96vh;
    --fall-duration: 6.773s;
    --fall-delay: 6.219s; }
  .star:nth-child(18) {
    --star-tail-length: 6.29em;
    --top-offset: 17.73vh;
    --fall-duration: 10.838s;
    --fall-delay: 7.626s; }
  .star:nth-child(19) {
    --star-tail-length: 5.03em;
    --top-offset: 44.83vh;
    --fall-duration: 9.674s;
    --fall-delay: 2.508s; }
  .star:nth-child(20) {
    --star-tail-length: 7.06em;
    --top-offset: 78.71vh;
    --fall-duration: 9.735s;
    --fall-delay: 8.236s; }
  .star:nth-child(21) {
    --star-tail-length: 6.88em;
    --top-offset: 66.75vh;
    --fall-duration: 10.469s;
    --fall-delay: 5.468s; }
  .star:nth-child(22) {
    --star-tail-length: 6.94em;
    --top-offset: 98.85vh;
    --fall-duration: 11.566s;
    --fall-delay: 4.525s; }
  .star:nth-child(23) {
    --star-tail-length: 5.52em;
    --top-offset: 69.93vh;
    --fall-duration: 7.086s;
    --fall-delay: 4.054s; }
  .star:nth-child(24) {
    --star-tail-length: 6.74em;
    --top-offset: 64.38vh;
    --fall-duration: 7.019s;
    --fall-delay: 6.795s; }
  .star:nth-child(25) {
    --star-tail-length: 7.37em;
    --top-offset: 8.02vh;
    --fall-duration: 11.386s;
    --fall-delay: 3.511s; }
  .star:nth-child(26) {
    --star-tail-length: 7.02em;
    --top-offset: 11.44vh;
    --fall-duration: 8.737s;
    --fall-delay: 9.627s; }
  .star:nth-child(27) {
    --star-tail-length: 6.11em;
    --top-offset: 18.33vh;
    --fall-duration: 6.966s;
    --fall-delay: 7.047s; }
  .star:nth-child(28) {
    --star-tail-length: 5.04em;
    --top-offset: 56.17vh;
    --fall-duration: 11.823s;
    --fall-delay: 2.185s; }
  .star:nth-child(29) {
    --star-tail-length: 6.08em;
    --top-offset: 18.14vh;
    --fall-duration: 8.351s;
    --fall-delay: 0.503s; }
  .star:nth-child(30) {
    --star-tail-length: 5.46em;
    --top-offset: 48.05vh;
    --fall-duration: 9.143s;
    --fall-delay: 8.492s; }
  .star:nth-child(31) {
    --star-tail-length: 5.11em;
    --top-offset: 52.85vh;
    --fall-duration: 6.782s;
    --fall-delay: 1.911s; }
  .star:nth-child(32) {
    --star-tail-length: 5.51em;
    --top-offset: 59.15vh;
    --fall-duration: 6.657s;
    --fall-delay: 3.326s; }
  .star:nth-child(33) {
    --star-tail-length: 7.11em;
    --top-offset: 61.59vh;
    --fall-duration: 8.115s;
    --fall-delay: 1.722s; }
  .star:nth-child(34) {
    --star-tail-length: 7.15em;
    --top-offset: 50.57vh;
    --fall-duration: 7.896s;
    --fall-delay: 5.063s; }
  .star:nth-child(35) {
    --star-tail-length: 6.59em;
    --top-offset: 37.78vh;
    --fall-duration: 10.439s;
    --fall-delay: 1.038s; }
  .star:nth-child(36) {
    --star-tail-length: 5.28em;
    --top-offset: 98.27vh;
    --fall-duration: 11.321s;
    --fall-delay: 8.896s; }
  .star:nth-child(37) {
    --star-tail-length: 6.09em;
    --top-offset: 5.19vh;
    --fall-duration: 7.144s;
    --fall-delay: 4.063s; }
  .star:nth-child(38) {
    --star-tail-length: 5.16em;
    --top-offset: 18.29vh;
    --fall-duration: 11.84s;
    --fall-delay: 6.796s; }
  .star:nth-child(39) {
    --star-tail-length: 6.85em;
    --top-offset: 3.95vh;
    --fall-duration: 8.061s;
    --fall-delay: 9.835s; }
  .star:nth-child(40) {
    --star-tail-length: 6.35em;
    --top-offset: 47.74vh;
    --fall-duration: 10.679s;
    --fall-delay: 8.513s; }
  .star:nth-child(41) {
    --star-tail-length: 7em;
    --top-offset: 92.69vh;
    --fall-duration: 6.392s;
    --fall-delay: 7.497s; }
  .star:nth-child(42) {
    --star-tail-length: 5.83em;
    --top-offset: 73.77vh;
    --fall-duration: 6.588s;
    --fall-delay: 9.854s; }
  .star:nth-child(43) {
    --star-tail-length: 6.64em;
    --top-offset: 86.58vh;
    --fall-duration: 7.625s;
    --fall-delay: 9.173s; }
  .star:nth-child(44) {
    --star-tail-length: 6.1em;
    --top-offset: 23.49vh;
    --fall-duration: 8.237s;
    --fall-delay: 5.471s; }
  .star:nth-child(45) {
    --star-tail-length: 6.99em;
    --top-offset: 96.4vh;
    --fall-duration: 10.7s;
    --fall-delay: 2.67s; }
  .star:nth-child(46) {
    --star-tail-length: 5.14em;
    --top-offset: 2.37vh;
    --fall-duration: 10.314s;
    --fall-delay: 2.134s; }
  .star:nth-child(47) {
    --star-tail-length: 5.94em;
    --top-offset: 17.46vh;
    --fall-duration: 10.745s;
    --fall-delay: 4.234s; }
  .star:nth-child(48) {
    --star-tail-length: 5.84em;
    --top-offset: 29.46vh;
    --fall-duration: 8.38s;
    --fall-delay: 9.558s; }
  .star:nth-child(49) {
    --star-tail-length: 6.18em;
    --top-offset: 78.97vh;
    --fall-duration: 7.342s;
    --fall-delay: 3.176s; }
  .star:nth-child(50) {
    --star-tail-length: 7.04em;
    --top-offset: 14.32vh;
    --fall-duration: 10.718s;
    --fall-delay: 6.098s; }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite; }
  .star::before {
    transform: rotate(45deg); }
  .star::after {
    transform: rotate(-45deg); }

.dashboard {
  height: 100vh;
  width: 100vw;
  overflow: hidden; }
  .dashboard__wrap {
    display: flex;
    width: 100%;
    height: 100%; }
  .dashboard .navigation, .dashboard__main {
    height: 100%; }
  .dashboard__main {
    flex: 0 0 80%;
    overflow-y: scroll; }
  .dashboard .content {
    padding: 2rem 3rem;
    overflow-x: hidden; }
  .dashboard .navigation {
    flex: 0 0 20%;
    background: #253446;
    background: #0d1d31;
    color: #1a1a1a; }
    .dashboard .navigation__header {
      padding: 2rem;
      background: #253446;
      color: #ccc;
      border-bottom: 2px solid #0d1d31; }
    .dashboard .navigation__link {
      display: inline-block;
      width: 100%;
      padding: 1.7rem 2rem;
      color: #dfdfdf;
      text-decoration: none;
      font-weight: 600; }
      .dashboard .navigation__link:hover, .dashboard .navigation__link.active {
        background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
        color: #dfdfdf; }
  .dashboard .navbar {
    padding: 2.3rem 2rem;
    background: #dfdfdf;
    color: #1a1a1a; }

.network {
  margin: 3rem auto; }
  .network__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; }
  .network__header {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem; }
  .network__item {
    padding: 2rem;
    background: rgba(110, 119, 131, 0.37);
    border-radius: 1.4rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(110, 119, 131, 0.3); }
    .network__item--disable {
      background: #ccc;
      border: none;
      border-radius: unset;
      color: #1a1a1a; }

table,
th,
td {
  border: 1px solid rgba(110, 119, 131, 0.555); }

td,
th {
  padding: 0.5rem 2rem; }

table {
  border-collapse: collapse;
  max-width: 100%;
  overflow-x: scroll;
  width: 100%; }

/*# sourceMappingURL=styles.css.map */