@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0); } }

@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1; }
  70%,
  80% {
    width: 0;
    opacity: 0.4; }
  100% {
    width: 0;
    opacity: 0; } }

@keyframes blink {
  50% {
    opacity: 0.6; } }

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  box-sizing: border-box; }
  body.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden; }

.btn {
  display: inline-block;
  padding: 1rem 0.7rem;
  text-decoration: none;
  color: currentColor;
  border: none;
  outline: none;
  cursor: pointer; }
  .btn__primary {
    background: #0b50a3;
    color: #fff; }
  .btn--block {
    display: block;
    text-align: center;
    width: 100%; }

.card {
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 3rem 5rem;
  box-shadow: 0 0 1rem #202020;
  border-radius: 1rem;
  width: 30rem; }

.form__header {
  text-align: center; }
  .form__header h3 {
    color: #0d1d31; }

.form__body {
  margin-top: 2rem; }

.form__group label,
.form__group input {
  display: block; }

.form__group label {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
  transition: all 0.4s; }
  .form__group label:focus {
    color: #0b50a3; }

.form__group input {
  outline: none;
  border: 0.1rem solid #ccc;
  padding: 0.6rem 1rem;
  width: 100%;
  margin-bottom: 2rem;
  transition: all 0.4s; }
  .form__group input:focus {
    border: 0.1rem solid #0b50a3; }

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  color: #fff; }

.star {
  --star-color: #fff;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
  .star:nth-child(1) {
    --star-tail-length: 7.19em;
    --top-offset: 87.86vh;
    --fall-duration: 9.321s;
    --fall-delay: 2.102s; }
  .star:nth-child(2) {
    --star-tail-length: 5.62em;
    --top-offset: 75.2vh;
    --fall-duration: 9.469s;
    --fall-delay: 3.013s; }
  .star:nth-child(3) {
    --star-tail-length: 6.27em;
    --top-offset: 16.62vh;
    --fall-duration: 8.923s;
    --fall-delay: 6.493s; }
  .star:nth-child(4) {
    --star-tail-length: 7.14em;
    --top-offset: 47.27vh;
    --fall-duration: 9.98s;
    --fall-delay: 8.526s; }
  .star:nth-child(5) {
    --star-tail-length: 5.1em;
    --top-offset: 32.17vh;
    --fall-duration: 10.715s;
    --fall-delay: 0.14s; }
  .star:nth-child(6) {
    --star-tail-length: 5.45em;
    --top-offset: 45.33vh;
    --fall-duration: 8.97s;
    --fall-delay: 3.102s; }
  .star:nth-child(7) {
    --star-tail-length: 6.06em;
    --top-offset: 84.45vh;
    --fall-duration: 10.036s;
    --fall-delay: 5.211s; }
  .star:nth-child(8) {
    --star-tail-length: 7.34em;
    --top-offset: 49.76vh;
    --fall-duration: 6.31s;
    --fall-delay: 5.02s; }
  .star:nth-child(9) {
    --star-tail-length: 5.46em;
    --top-offset: 28.48vh;
    --fall-duration: 9.321s;
    --fall-delay: 1.292s; }
  .star:nth-child(10) {
    --star-tail-length: 5.39em;
    --top-offset: 62.73vh;
    --fall-duration: 6.731s;
    --fall-delay: 7.667s; }
  .star:nth-child(11) {
    --star-tail-length: 6.45em;
    --top-offset: 27.79vh;
    --fall-duration: 8.63s;
    --fall-delay: 0.636s; }
  .star:nth-child(12) {
    --star-tail-length: 6.61em;
    --top-offset: 41.62vh;
    --fall-duration: 9.632s;
    --fall-delay: 3.559s; }
  .star:nth-child(13) {
    --star-tail-length: 6.61em;
    --top-offset: 82.52vh;
    --fall-duration: 10.688s;
    --fall-delay: 8.081s; }
  .star:nth-child(14) {
    --star-tail-length: 6.87em;
    --top-offset: 50.15vh;
    --fall-duration: 7.577s;
    --fall-delay: 5.186s; }
  .star:nth-child(15) {
    --star-tail-length: 7.01em;
    --top-offset: 75.71vh;
    --fall-duration: 7.918s;
    --fall-delay: 8.601s; }
  .star:nth-child(16) {
    --star-tail-length: 7.11em;
    --top-offset: 85.69vh;
    --fall-duration: 11.92s;
    --fall-delay: 7.079s; }
  .star:nth-child(17) {
    --star-tail-length: 7.44em;
    --top-offset: 37.07vh;
    --fall-duration: 7.056s;
    --fall-delay: 9.492s; }
  .star:nth-child(18) {
    --star-tail-length: 5.69em;
    --top-offset: 39.45vh;
    --fall-duration: 9.963s;
    --fall-delay: 1.078s; }
  .star:nth-child(19) {
    --star-tail-length: 5.35em;
    --top-offset: 13.36vh;
    --fall-duration: 9.248s;
    --fall-delay: 5.74s; }
  .star:nth-child(20) {
    --star-tail-length: 7.19em;
    --top-offset: 30.01vh;
    --fall-duration: 9.337s;
    --fall-delay: 4.025s; }
  .star:nth-child(21) {
    --star-tail-length: 6.62em;
    --top-offset: 85.66vh;
    --fall-duration: 10.751s;
    --fall-delay: 9.122s; }
  .star:nth-child(22) {
    --star-tail-length: 6.74em;
    --top-offset: 45.71vh;
    --fall-duration: 9.849s;
    --fall-delay: 8.095s; }
  .star:nth-child(23) {
    --star-tail-length: 5.73em;
    --top-offset: 43.27vh;
    --fall-duration: 8.468s;
    --fall-delay: 6.832s; }
  .star:nth-child(24) {
    --star-tail-length: 6.13em;
    --top-offset: 63.27vh;
    --fall-duration: 6.736s;
    --fall-delay: 5.068s; }
  .star:nth-child(25) {
    --star-tail-length: 6.41em;
    --top-offset: 42.31vh;
    --fall-duration: 11.974s;
    --fall-delay: 9.917s; }
  .star:nth-child(26) {
    --star-tail-length: 5.94em;
    --top-offset: 20.35vh;
    --fall-duration: 9.363s;
    --fall-delay: 4.979s; }
  .star:nth-child(27) {
    --star-tail-length: 5.29em;
    --top-offset: 90.77vh;
    --fall-duration: 8.189s;
    --fall-delay: 4.992s; }
  .star:nth-child(28) {
    --star-tail-length: 7.03em;
    --top-offset: 52.07vh;
    --fall-duration: 8.561s;
    --fall-delay: 6.341s; }
  .star:nth-child(29) {
    --star-tail-length: 5.28em;
    --top-offset: 74.55vh;
    --fall-duration: 7.674s;
    --fall-delay: 8.789s; }
  .star:nth-child(30) {
    --star-tail-length: 5.46em;
    --top-offset: 66.9vh;
    --fall-duration: 10.492s;
    --fall-delay: 2.321s; }
  .star:nth-child(31) {
    --star-tail-length: 7.42em;
    --top-offset: 59.09vh;
    --fall-duration: 6.184s;
    --fall-delay: 8.775s; }
  .star:nth-child(32) {
    --star-tail-length: 6.75em;
    --top-offset: 57.38vh;
    --fall-duration: 9.133s;
    --fall-delay: 1.867s; }
  .star:nth-child(33) {
    --star-tail-length: 6.27em;
    --top-offset: 5.6vh;
    --fall-duration: 11.665s;
    --fall-delay: 9.32s; }
  .star:nth-child(34) {
    --star-tail-length: 5.65em;
    --top-offset: 52.81vh;
    --fall-duration: 9.588s;
    --fall-delay: 9.503s; }
  .star:nth-child(35) {
    --star-tail-length: 5.6em;
    --top-offset: 44.92vh;
    --fall-duration: 11.769s;
    --fall-delay: 4.032s; }
  .star:nth-child(36) {
    --star-tail-length: 7.24em;
    --top-offset: 43.78vh;
    --fall-duration: 7.494s;
    --fall-delay: 8.84s; }
  .star:nth-child(37) {
    --star-tail-length: 5.21em;
    --top-offset: 90.31vh;
    --fall-duration: 8.823s;
    --fall-delay: 1.591s; }
  .star:nth-child(38) {
    --star-tail-length: 6.85em;
    --top-offset: 99.98vh;
    --fall-duration: 10.034s;
    --fall-delay: 5.587s; }
  .star:nth-child(39) {
    --star-tail-length: 7.16em;
    --top-offset: 41.05vh;
    --fall-duration: 9.658s;
    --fall-delay: 9.383s; }
  .star:nth-child(40) {
    --star-tail-length: 5.08em;
    --top-offset: 74.99vh;
    --fall-duration: 8.969s;
    --fall-delay: 8.311s; }
  .star:nth-child(41) {
    --star-tail-length: 6.56em;
    --top-offset: 89.7vh;
    --fall-duration: 6.487s;
    --fall-delay: 6.179s; }
  .star:nth-child(42) {
    --star-tail-length: 5.77em;
    --top-offset: 14.53vh;
    --fall-duration: 9.446s;
    --fall-delay: 8.248s; }
  .star:nth-child(43) {
    --star-tail-length: 6.34em;
    --top-offset: 98.27vh;
    --fall-duration: 11.079s;
    --fall-delay: 6.065s; }
  .star:nth-child(44) {
    --star-tail-length: 6.75em;
    --top-offset: 89.9vh;
    --fall-duration: 11.235s;
    --fall-delay: 1.362s; }
  .star:nth-child(45) {
    --star-tail-length: 6.68em;
    --top-offset: 56.43vh;
    --fall-duration: 11.179s;
    --fall-delay: 7.045s; }
  .star:nth-child(46) {
    --star-tail-length: 7.31em;
    --top-offset: 97.93vh;
    --fall-duration: 6.702s;
    --fall-delay: 6.079s; }
  .star:nth-child(47) {
    --star-tail-length: 7.13em;
    --top-offset: 85.22vh;
    --fall-duration: 11.091s;
    --fall-delay: 4.318s; }
  .star:nth-child(48) {
    --star-tail-length: 5.13em;
    --top-offset: 14.32vh;
    --fall-duration: 8.276s;
    --fall-delay: 6.566s; }
  .star:nth-child(49) {
    --star-tail-length: 6.5em;
    --top-offset: 31.45vh;
    --fall-duration: 8.897s;
    --fall-delay: 7.055s; }
  .star:nth-child(50) {
    --star-tail-length: 6.09em;
    --top-offset: 38.84vh;
    --fall-duration: 9.705s;
    --fall-delay: 7.524s; }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite; }
  .star::before {
    transform: rotate(45deg); }
  .star::after {
    transform: rotate(-45deg); }

/*# sourceMappingURL=styles.css.map */