@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0); } }

@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1; }
  70%,
  80% {
    width: 0;
    opacity: 0.4; }
  100% {
    width: 0;
    opacity: 0; } }

@keyframes blink {
  50% {
    opacity: 0.6; } }

@-webkit-keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 #076fe5;
    height: 32px; }
  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px; } }

@keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 #076fe5;
    height: 32px; }
  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px; } }

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 60%; }

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background: #0d1d31;
  color: #fff; }
  body.body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%); }

.hide {
  display: none !important; }

.btn {
  display: inline-block;
  padding: 1rem 0.7rem;
  text-decoration: none;
  color: currentColor;
  border: none;
  outline: none;
  cursor: pointer; }
  .btn__primary {
    background: #0b50a3;
    color: #fff; }
  .btn--block {
    display: block;
    text-align: center;
    width: 100%; }

.card {
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 3rem 5rem;
  box-shadow: 0 0 1rem #202020;
  border-radius: 1rem;
  width: 30rem; }

.form__header {
  text-align: center; }
  .form__header h3 {
    color: #0d1d31; }

.form__body {
  margin-top: 2rem; }

.form__group label,
.form__group input {
  display: block; }

.form__group label {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
  transition: all 0.4s;
  color: #202020; }
  .form__group label:focus {
    color: #0b50a3; }

.form__group input {
  outline: none;
  border: 0.1rem solid #ccc;
  padding: 0.6rem 1rem;
  width: 100%;
  margin-bottom: 2rem;
  transition: all 0.4s; }
  .form__group input:focus {
    border: 0.1rem solid #0b50a3; }

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  overflow: hidden; }

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important; }
  .jimu-primary-loading, .jimu-primary-loading::after, .jimu-primary-loading::before {
    background: #076fe5;
    -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    animation: loading-keys-app-loading 0.8s infinite ease-in-out;
    width: 13.6px;
    height: 32px; }
  .jimu-primary-loading::after, .jimu-primary-loading::before {
    position: absolute;
    top: 0;
    content: ""; }
  .jimu-primary-loading::after {
    left: 19.992px;
    -webkit-animation-delay: 0.32s !important;
    animation-delay: 0.32s !important; }
  .jimu-primary-loading::before {
    left: -19.992px; }

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  color: #fff; }

.star {
  --star-color: #fff;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
  .star:nth-child(1) {
    --star-tail-length: 5.59em;
    --top-offset: 81.09vh;
    --fall-duration: 11.243s;
    --fall-delay: 2.652s; }
  .star:nth-child(2) {
    --star-tail-length: 5.25em;
    --top-offset: 34.3vh;
    --fall-duration: 9.981s;
    --fall-delay: 2.304s; }
  .star:nth-child(3) {
    --star-tail-length: 6.35em;
    --top-offset: 85.52vh;
    --fall-duration: 7.297s;
    --fall-delay: 0.764s; }
  .star:nth-child(4) {
    --star-tail-length: 6.71em;
    --top-offset: 9.06vh;
    --fall-duration: 7.78s;
    --fall-delay: 4.034s; }
  .star:nth-child(5) {
    --star-tail-length: 5.99em;
    --top-offset: 64.44vh;
    --fall-duration: 8.237s;
    --fall-delay: 7.745s; }
  .star:nth-child(6) {
    --star-tail-length: 6.8em;
    --top-offset: 8.23vh;
    --fall-duration: 11.436s;
    --fall-delay: 0.197s; }
  .star:nth-child(7) {
    --star-tail-length: 5.98em;
    --top-offset: 14.65vh;
    --fall-duration: 10.529s;
    --fall-delay: 5.93s; }
  .star:nth-child(8) {
    --star-tail-length: 5.43em;
    --top-offset: 96.05vh;
    --fall-duration: 6.065s;
    --fall-delay: 9.7s; }
  .star:nth-child(9) {
    --star-tail-length: 5.03em;
    --top-offset: 39.84vh;
    --fall-duration: 8.715s;
    --fall-delay: 4.088s; }
  .star:nth-child(10) {
    --star-tail-length: 6.48em;
    --top-offset: 46.87vh;
    --fall-duration: 11.449s;
    --fall-delay: 1.305s; }
  .star:nth-child(11) {
    --star-tail-length: 5.84em;
    --top-offset: 88.67vh;
    --fall-duration: 8.61s;
    --fall-delay: 2.778s; }
  .star:nth-child(12) {
    --star-tail-length: 7.17em;
    --top-offset: 15.54vh;
    --fall-duration: 8.042s;
    --fall-delay: 3.486s; }
  .star:nth-child(13) {
    --star-tail-length: 6.97em;
    --top-offset: 21.49vh;
    --fall-duration: 7.115s;
    --fall-delay: 5.992s; }
  .star:nth-child(14) {
    --star-tail-length: 5.95em;
    --top-offset: 56.39vh;
    --fall-duration: 9.731s;
    --fall-delay: 3.392s; }
  .star:nth-child(15) {
    --star-tail-length: 5.52em;
    --top-offset: 61.73vh;
    --fall-duration: 8.285s;
    --fall-delay: 4.7s; }
  .star:nth-child(16) {
    --star-tail-length: 6.09em;
    --top-offset: 55.96vh;
    --fall-duration: 9.25s;
    --fall-delay: 2.663s; }
  .star:nth-child(17) {
    --star-tail-length: 6.07em;
    --top-offset: 81.85vh;
    --fall-duration: 11.928s;
    --fall-delay: 5.425s; }
  .star:nth-child(18) {
    --star-tail-length: 5.2em;
    --top-offset: 22.6vh;
    --fall-duration: 9.736s;
    --fall-delay: 7.298s; }
  .star:nth-child(19) {
    --star-tail-length: 5.15em;
    --top-offset: 87.98vh;
    --fall-duration: 9.647s;
    --fall-delay: 6.446s; }
  .star:nth-child(20) {
    --star-tail-length: 5.54em;
    --top-offset: 59.41vh;
    --fall-duration: 9.932s;
    --fall-delay: 6.902s; }
  .star:nth-child(21) {
    --star-tail-length: 5.97em;
    --top-offset: 65.21vh;
    --fall-duration: 11.823s;
    --fall-delay: 7.258s; }
  .star:nth-child(22) {
    --star-tail-length: 5.13em;
    --top-offset: 93.62vh;
    --fall-duration: 9.284s;
    --fall-delay: 7.85s; }
  .star:nth-child(23) {
    --star-tail-length: 7.11em;
    --top-offset: 82.51vh;
    --fall-duration: 11.342s;
    --fall-delay: 5.755s; }
  .star:nth-child(24) {
    --star-tail-length: 6.84em;
    --top-offset: 24.73vh;
    --fall-duration: 6.12s;
    --fall-delay: 8.618s; }
  .star:nth-child(25) {
    --star-tail-length: 7.25em;
    --top-offset: 14.81vh;
    --fall-duration: 8.102s;
    --fall-delay: 1.415s; }
  .star:nth-child(26) {
    --star-tail-length: 5.16em;
    --top-offset: 56.53vh;
    --fall-duration: 11.446s;
    --fall-delay: 8.313s; }
  .star:nth-child(27) {
    --star-tail-length: 6.34em;
    --top-offset: 70.58vh;
    --fall-duration: 11.799s;
    --fall-delay: 3.543s; }
  .star:nth-child(28) {
    --star-tail-length: 7.49em;
    --top-offset: 57.55vh;
    --fall-duration: 11.368s;
    --fall-delay: 9.246s; }
  .star:nth-child(29) {
    --star-tail-length: 6.89em;
    --top-offset: 87.89vh;
    --fall-duration: 9.923s;
    --fall-delay: 8.855s; }
  .star:nth-child(30) {
    --star-tail-length: 7.14em;
    --top-offset: 9.32vh;
    --fall-duration: 10.888s;
    --fall-delay: 2.694s; }
  .star:nth-child(31) {
    --star-tail-length: 6.46em;
    --top-offset: 60.31vh;
    --fall-duration: 10.891s;
    --fall-delay: 4.187s; }
  .star:nth-child(32) {
    --star-tail-length: 6.39em;
    --top-offset: 60.89vh;
    --fall-duration: 10.913s;
    --fall-delay: 3.526s; }
  .star:nth-child(33) {
    --star-tail-length: 5.47em;
    --top-offset: 85.25vh;
    --fall-duration: 11.917s;
    --fall-delay: 2.62s; }
  .star:nth-child(34) {
    --star-tail-length: 5.04em;
    --top-offset: 24.94vh;
    --fall-duration: 6.386s;
    --fall-delay: 0.78s; }
  .star:nth-child(35) {
    --star-tail-length: 6.84em;
    --top-offset: 33.96vh;
    --fall-duration: 6.86s;
    --fall-delay: 3.323s; }
  .star:nth-child(36) {
    --star-tail-length: 5.37em;
    --top-offset: 18.26vh;
    --fall-duration: 7.274s;
    --fall-delay: 4.28s; }
  .star:nth-child(37) {
    --star-tail-length: 5.59em;
    --top-offset: 25.65vh;
    --fall-duration: 9.286s;
    --fall-delay: 9.641s; }
  .star:nth-child(38) {
    --star-tail-length: 6.67em;
    --top-offset: 37.27vh;
    --fall-duration: 11.126s;
    --fall-delay: 3.835s; }
  .star:nth-child(39) {
    --star-tail-length: 6.8em;
    --top-offset: 77.72vh;
    --fall-duration: 7.733s;
    --fall-delay: 0.119s; }
  .star:nth-child(40) {
    --star-tail-length: 6.64em;
    --top-offset: 0.73vh;
    --fall-duration: 8.674s;
    --fall-delay: 1.942s; }
  .star:nth-child(41) {
    --star-tail-length: 6.42em;
    --top-offset: 91.95vh;
    --fall-duration: 8.172s;
    --fall-delay: 4.085s; }
  .star:nth-child(42) {
    --star-tail-length: 6.96em;
    --top-offset: 32.4vh;
    --fall-duration: 10.995s;
    --fall-delay: 9.009s; }
  .star:nth-child(43) {
    --star-tail-length: 5.65em;
    --top-offset: 87.64vh;
    --fall-duration: 11.943s;
    --fall-delay: 3.344s; }
  .star:nth-child(44) {
    --star-tail-length: 6.16em;
    --top-offset: 57.83vh;
    --fall-duration: 7.166s;
    --fall-delay: 0.227s; }
  .star:nth-child(45) {
    --star-tail-length: 5.92em;
    --top-offset: 11.48vh;
    --fall-duration: 11.925s;
    --fall-delay: 9.54s; }
  .star:nth-child(46) {
    --star-tail-length: 5.13em;
    --top-offset: 56.88vh;
    --fall-duration: 9.347s;
    --fall-delay: 4.027s; }
  .star:nth-child(47) {
    --star-tail-length: 6.5em;
    --top-offset: 47.93vh;
    --fall-duration: 8.578s;
    --fall-delay: 0.405s; }
  .star:nth-child(48) {
    --star-tail-length: 6.6em;
    --top-offset: 26.3vh;
    --fall-duration: 6.34s;
    --fall-delay: 1.177s; }
  .star:nth-child(49) {
    --star-tail-length: 6.11em;
    --top-offset: 2.5vh;
    --fall-duration: 7.056s;
    --fall-delay: 8.254s; }
  .star:nth-child(50) {
    --star-tail-length: 5.13em;
    --top-offset: 84.8vh;
    --fall-duration: 10.485s;
    --fall-delay: 3.214s; }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite; }
  .star::before {
    transform: rotate(45deg); }
  .star::after {
    transform: rotate(-45deg); }

.dashboard {
  height: 100vh;
  width: 100vw;
  overflow: hidden; }
  .dashboard__wrap {
    display: flex;
    width: 100%;
    height: 100%; }
  .dashboard .navigation, .dashboard__main {
    height: 100%; }
  .dashboard__main {
    flex: 0 0 80%; }
  .dashboard .content {
    padding: 2rem 3rem;
    overflow-x: hidden;
    margin-top: 6.2rem;
    position: relative;
    width: 100%;
    height: 92vh; }
  .dashboard .navigation {
    flex: 0 0 20%;
    background: #232638;
    color: #1a1a1a; }
    .dashboard .navigation__header {
      padding: 2rem;
      background: #253245;
      color: #ccc;
      border-bottom: 2px solid #253245; }
    .dashboard .navigation__link {
      display: inline-block;
      width: 100%;
      padding: 1.7rem 2rem;
      color: #dfdfdf;
      text-decoration: none;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 1rem; }
      .dashboard .navigation__link img {
        height: 3rem; }
      .dashboard .navigation__link:hover, .dashboard .navigation__link.active {
        background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
        color: #dfdfdf; }
  .dashboard .navbar {
    padding: 3.1rem 2rem;
    background: #253245;
    color: #ccc;
    position: fixed;
    right: 0;
    width: 80%;
    z-index: 5000; }

.network {
  margin: 3rem auto; }
  .network__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; }
    @media (max-width: 870px) {
      .network__wrap {
        grid-template-columns: 1fr; } }
  .network__header {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .network__header .header,
    .network__header .link {
      display: inline-block; }
    .network__header .link {
      text-decoration: underline;
      font-size: 1.4rem;
      cursor: pointer; }
  .network__item {
    padding: 2rem;
    background: #6e6f7359;
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    min-height: 30rem; }
    .network__item--disable {
      background: #e6e6e680;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border: 1px solid #e6e6e640;
      color: #1a1a1a; }
    .network__item--sysInfo {
      background: #701e1266;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border: 1px solid #701e1240; }
    .network__item--mem {
      background: #7a244180;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border: 1px solid #7a244140; }
    .network__item--available {
      background: #284d6280;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border: 1px solid #284d6240; }
  .network .netCard {
    position: relative;
    width: 100%;
    height: 85%; }

table,
th,
td {
  border: 1px solid #6e77838e; }

td,
th {
  padding: 0.7rem 2rem;
  text-align: left; }

table {
  border-collapse: collapse;
  max-width: 100%;
  overflow-x: scroll;
  width: 100%; }

.devices {
  margin: 1.5rem 0 4rem; }

.breadcrumb {
  padding: 0 0 2rem; }
  .breadcrumb__title {
    margin-bottom: 0.7rem; }
  .breadcrumb__nav {
    font-size: 1.3rem;
    color: #ccc; }

.feature {
  margin: 0 0 4rem; }
  .feature__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem; }
  .feature__item {
    padding: 3rem;
    cursor: pointer;
    color: #e6e6e6;
    font-weight: 600;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid #6e77838e;
    transition: all 0.35s ease-in-out; }
    .feature__item--device {
      background: #284978; }
      .feature__item--device:hover {
        background: #1c3354; }
    .feature__item--systemInfo {
      background: #8c2517; }
      .feature__item--systemInfo:hover {
        background: #701e12; }
    .feature__item--settings {
      background: #982d51; }
      .feature__item--settings:hover {
        background: #7a2441; }
    .feature__item--profile {
      background: #32607a; }
      .feature__item--profile:hover {
        background: #284d62; }
  .feature .img__wrap {
    height: 5rem; }
    .feature .img__wrap img {
      height: 100%;
      object-fit: contain; }

/*# sourceMappingURL=styles.css.map */